cdbody {
  box-sizing: border-box !important;
}

footer {
  bottom: 0;
  width: 100%;
  /*height: 60px; Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.command_button{
	padding-right: 10px;
	padding-left: 10px:;
}

.box-feature{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.arrow{
    height: 40px !important;
    width: 40px !important;
}

.arrowButton{
    width: 100%;
}

.inline-box{
    display: inline-block;
}

.jumbotron {
    padding: 2rem 2rem !important;
}

#logo{
	height: 200px;
}