{% extends "template.html" %}
{% block title %}Thymio Interface Control{% endblock %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="padding-bottom: 0px !important;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 box-feature">
				<h1>Thymio Interface Control</h1> <!-- class="display-3" -->
				<h4>Projet TIC 2017</h4>
				<h5>Brodard, Bürgisser, Cottet, Seydoux</h5>
				<p></p>
			</div>
			<div class="col-md-6 box-feature">
				<img src="{{ url_for('static', filename='images/logo4.png') }}" id="logo">
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 box-feature">
			<!-- DISTANCE FEATURE -->
			<h2>Distance</h2>
			<div>
				<form action="{{ url_for('handle_distance') }}" method="post">
					<div class="form-group">
						<label for="inputSpeed">Speed (cm/s)</label>
						<input name="inputSpeed" type="number" class="form-control" id="inputSpeed" placeholder="Enter speed between 0 and 13.5" min="0" max="13.5" required">
						<label for="inputDistance">Distance (cm)</label>
						<input name="inputDistance" type="number" class="form-control" id="inputDistance" placeholder="Enter Distance" required>
					</div>
					<button type="submit" class="btn btn-primary">Apply &raquo;</button>
				</form>
			</div>
		</div>

		<div class="col-md-4 box-feature">
			<!-- ROTATE FEATURE -->
			<h2> Rotation </h2>
			<!--<div id="rotator"></div>-->
			<form action="{{ url_for('handle_rotation') }}" method="post">
				<div class="form-group">
					<label for="inputRotation">Rotation in degree (clockwise)</label>
					<input name="inputRotation" type="text" class="form-control" placeholder="Enter rotation" required>
				</div>
				<button type=submit id=applySpeed class="btn btn-primary">Apply &raquo;</button>
			</form>
		</div>

		<div class="col-md-4 box-feature">
			<h2>LEDs controller</h2>
			<form action="{{ url_for('handle_leds_controller') }}" method="post">
				<div class="form-group">
				<p>Switch all leds ON/OFF</p>
					<div class="input-group">
						<input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"  data-size="normal" name="switch_led_input" class="form-control">
						<span class="input-group-btn">
							<button type=submit id=applySpeed class="btn btn-primary" style="margin-left: 20px;">Apply &raquo;</button>
						</span>
					</div>
				</div>
			</form>
			<form action="{{ url_for('handle_disco_mode') }}" method="post">
				<div class="form-group">
					<button type=submit class="btn btn-primary btn-block">Disco mode</button>
				</div>
			</form>	
		</div>
	</div>



	<div class="row">
		<!-- TURN EAST, WEST, SOUTH, NORTH -->
		<!-- MOVE FORWARD AND STOP BUTTON FEATURE -->
		<div class="col-md-8 box-feature">
			<h2>Remote control </h2>
			<div>
				<table class="table">
					<tbody>
						<tr>
							<td></td>
							<td>
								<form action="{{ url_for('handle_move_forward') }}" method="post">
									<button type=submit class="btn arrowButton"><img src="{{ url_for('static', filename='images/arrow-up.svg') }}" class="arrow"></button>
								</form>
							</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<form action="{{ url_for('handle_move_left') }}" method="post">
										<button class="btn arrowButton"><img src="{{ url_for('static', filename='images/arrow-left.svg') }}" class="arrow"></button>
									</form>
								</td>
								<td>
									<form action="{{ url_for('handle_stop') }}" method="post">
										<button role=button class="btn btn-danger btn-block" style="line-height: 38px">Stop</button>
									</form>
								</td>
								<td>
									<form action="{{ url_for('handle_move_right') }}" method="post">
										<button class="btn arrowButton"><img src="{{ url_for('static', filename='images/arrow-right.svg') }}" class="arrow"></button>
									</form>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<form action="{{ url_for('handle_move_backward') }}" method="post">
										<button class="btn arrowButton"><img src="{{ url_for('static', filename='images/arrow-down.svg') }}" class="arrow"></button>
									</form>
								</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- Follow line and find line -->
			<div class="col-md-4 box-feature">
				<h2>Commands</h2>
				<form action="{{ url_for('handle_find_line') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-primary btn-block">Find Line</button>
					</div>
				</form>
			
				<form action="{{ url_for('handle_follow_line') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-primary btn-block">Follow Line</button>
					</div>
				</form>

				<form action="{{ url_for('handle_follow_canyon') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-primary btn-block">Follow Canyon</button>
					</div>
				</form>

				<form action="{{ url_for('handle_follow_bridge') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-primary btn-block">Follow Bridge</button>
					</div>
				</form>

				<form action="{{ url_for('handle_push_object') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-primary btn-block">Push object</button>
					</div>
				</form>
	
				<form action="{{ url_for('handle_drilling') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-primary btn-block">Drilling</button>
					</div>
				</form>	
				<form action="{{ url_for('handle_bypass_object') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-primary btn-block">Bypass object</button>
					</div>
				</form>	
				<form action="{{ url_for('handle_play_music') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-primary btn-block">Play Music</button>
					</div>
				</form>	
				<form action="{{ url_for('handle_reset_sensors') }}" method="post">
					<div class="form-group">
						<button role=button class="btn btn-danger btn-block">Reset sensors</button>
					</div>
				</form>		
			</div>
		</div>	

		<div class="row">
			<div class="col col-md-5">
				<table class="table table-bordered table-striped">
					<thead class="thead-inverse">
						<tr>
							<th>Capteurs</th>
							<th>Valeur actuelle</th>
							<th>Valeur précédente</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Proximité</th>
							<td class="actProximite">-</td>
							<td class="preProximite">-</td>
						</tr>
						<tr>
							<th scope="row">Accéléromètre</th>
							<td class="actAccelerometre">-</td>
							<td class="preAccelerometre">-</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-1">
			</div>

			<div class="col col-md-6">
				<table class="table table-bordered table-striped">
					<thead class="thead-inverse">
						<tr>
							<th>Actuateurs</th>
							<th>Valeur actuelle</th>
							<th>Valeur précédente</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">LED frontales</th>
							<td class="actLedFrontales">-</td>
							<td class="preLedFrontales">-</td>
						</tr>
						<tr>
							<th scope="row">LED supérieures</th>
							<td class="actLedSuperieures">-</td>
							<td class="preLedSuperieures">-</td>
						</tr>
						<tr>
							<th scope="row">Génération de son</th>
							<td class="actSon">-</td>
							<td class="preSon">-</td>
						</tr>
						<tr>
							<th scope="row">Distance parcourue</th>
							<td class="actDistance">-</td>
							<td class="preDistance">-</td>
						</tr>
						<tr>
							<th scope="row">Obstacles rencontrés</th>
							<td class="actObstacles">-</td>
							<td class="preObstacles">-</td>
						</tr>
						<tr>
							<th scope="row">Collisions détectées</th>
							<td class="actCollisions">-</td>
							<td class="preCollisions">-</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div> 

</div> <!-- /container -->
<footer class="footer">
	<div class="container">
		<div class="inline-box">
			<img src="{{ url_for('static', filename='images/heia.png') }}" height="100">
		</div>
		<div class="inline-box float-right">
			<p>&copy; HEIA Fribourg 2018</p>
		</div>
	</div>
</footer>
{% endblock %}