<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-toggle.css') }}">
    <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='jquery-ui.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='bootstrap.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='bootstrap-toggle.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='js.js') }}"></script>

  <script type=text/javascript>

      function getActualData(){
          $.getJSON('getActualData', function(data){            
              $.each(data, function(key, val){
                if (key == "actProximite"){
                  $(".actProximite").text(val);
                }if (key == "actAccelerometre"){
                  $(".actAccelerometre").text(val);
                }
                if (key == "actLedFrontales"){
                  $(".actLedFrontales").text(val);
                }
                if (key == "actLedSuperieures"){
                  $(".actLedSuperieures").text(val);
                }
                if (key == "actSon"){
                  $(".actSon").text(val);
                }
                if (key == "actDistance"){
                  $(".actDistance").text(val);
                }
                if (key == "actObstacles"){
                  $(".actObstacles").text(val);
                }
                if (key == "actCollisions"){
                  $(".actCollisions").text(val);
                }
              });
          });
      }
      setInterval(getActualData, 1000); // use function every 2 seconds

      function getOldData(){
          $.getJSON('getOldData', function(data){           
              $.each(data, function(key, val){
                if (key == "actProximite"){
                  $(".preProximite").text(val);
                } 
                if (key == "actAccelerometre"){
                  $(".preAccelerometre").text(val);
                }
                if (key == "actLedFrontales"){
                  $(".preLedFrontales").text(val);
                }
                if (key == "actLedSuperieures"){
                  $(".preLedSuperieures").text(val);
                }
                if (key == "actSon"){
                  $(".preSon").text(val);
                }
                if (key == "actDistance"){
                  $(".preDistance").text(val);
                }
                if (key == "actObstacles"){
                  $(".preObstacles").text(val);
                }
                if (key == "actCollisions"){
                  $(".preCollisions").text(val);
                }
              });
          });
      }
      setInterval(getOldData, 1500); // use function every 2 seconds

    </script>




    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    </div>
  </body>

</html>